streamlit
langchain
langchain-google-genai
langchain-community
faiss-cpu
huggingface-hub
transformers
torch
openai
python-dotenv
pytorch-lightning
unstructured
pdfminer.six
sentence-transformers
streamlit==1.37.0
